<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Expertia.Estructura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- CRM API -->
    <add key="MainToken" value="WmI357bt2FIxkVNUmSi-OmoG8jHR*SiqMuisp=4GFdCG8kyYL1g6niNN2UgemcLuvi2" />
    <add key="LogPath" value="\\10.10.10.25\Logs\crm-api-dev\{0}\" />
    <add key="LogName" value="CRM_API_DEV_{0}.log" />
    <add key="LogDate" value="yyyyMMdd_HHmm" />
    <add key="QuickLogPath" value="\\10.10.10.25\Logs\crm-api-dev\" />
    <!-- CRM API AUTH -->
    <add key="AUTH_SERVER" value="https://test.salesforce.com" />
    <add key="AUTH_TIMEOUT" value="5000" />
    <add key="AUTH_METHODNAME" value="services/oauth2/token" />
    <add key="AUTH_GRANT_TYPE" value="password" />
    <add key="AUTH_CLIENT_ID" value="3MVG94DzwlYDSHS6jPRjWKdLh4Z9.DQ2npck8gG4MRl4thGKMo57DfdEK755HvfBrSdZEeSVtWiSUTRNgN3Mp" />
    <add key="AUTH_CLIENT_SECRET" value="8FC60708F7CA7BB714369EEA5EC3CF154FEC56076A41595EE7CBB8D94DF990A4" />
    <add key="AUTH_USERNAME" value="protiviti.expertia@gmail.com.expv5" />
    <add key="AUTH_PASSWORD" value="Pro2020$t9jkRqa4QXpXRf8bR2R33oss" />
    <!-- SALESFORCE API -->
    <add key="CRM_TIMEOUT" value="3000" />
    <add key="SUBCODIGO_METHODNAME" value="services/apexrest/restRegistraSubCodigo" />
    <add key="PNR_METHODNAME" value="services/apexrest/restBuscarPNR" />
    <add key="FILE_METHODNAME" value="services/apexrest/restRecibirFile" />
    <add key="BOLETO_METHODNAME" value="services/apexrest/restRecibirBoleto" />
    <add key="OPORTUNIDAD_METHODNAME" value="services/apexrest/restActualizarOpVta" />
    <add key="COTIZACIONLIST_METHODNAME" value="services/apexrest/restCrearActualizarCotizacion" />
    <add key="CUENTAPTA_METHODNAME" value="services/apexrest/restCrudCuenta" />
    <add key="CONTACTOPTA_METHODNAME" value="services/apexrest/restCrearContacto" />
    <add key="COTIZACIONJYUPD_METHODNAME" value="services/apexrest/actualizarCotizacionJY" />
    <add key="PEDIDOSPROCESADOS_METHODNAME" value="services/apexrest/restActualizarSolicitud" />
    <add key="LEADCREATE_METHODNAME" value="services/apexrest/restRegistrarLead" />
    <add key="OPORTUNIDADASOCIACION_METHODNAME" value="services/apexrest/restOportunidaRT" />
    <add key="CUENTANM_METHODNAME" value="services/apexrest/nMviajesCuentaB2C" />
    <add key="OPORTUNIDADNM_METHODNAME" value="services/apexrest/restOportunidadNM" />
    

    <add key="NM_DET_ITINERARIO_METHODNAME" value="services/apexrest/nMviajesItinerario" />
    <!-- UNIDAD NEGOCIO -->
    <add key="CT" value="Condor Travel B2C;Condor Travel B2B;JourneYou" />
    <add key="DM" value="Destinos Mundiales;Nuevo Mundo Retail;Nuevo Mundo Web" />
    <add key="IA" value="Interagencias" />
    <add key="AW" value="AppWebs;App Webs" />
    <!-- REINTENTO -->
    <add key="DelayTimeInSecs" value="5" />
    <!-- RETAIL -->
    <add key="userAGCorpGeneraPedidoLogoEmail" value="80963|47226" /><!--dmselect@agcorp.pe|dmselect@agcorp.pe|-->
    <add key="STR_GENERAR_RC_PTA" value="1" />
    <add key="DBL_TOPE_GENERAR_RC_UATP" value="1200" />
    <add key="STR_PATH_FILES_RC_WEB" value="C:\Logs\RC\" />
  </appSettings>
  <connectionStrings>
    <add name="CTConnKey" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.51)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oractrvl)));User ID=desarrollo;Password=Acc3s0*1" />
    <add name="DMConnKey" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.75.131.11)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=desa;Password=DESA2019" />
    <add name="IAConnKey" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.75.131.11)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=desa;Password=DESA2019" />
    <add name="AWConnKey" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.75.131.11)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=desa;Password=DESA2019" />
    <add name="CTConnKey_CL" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.65)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ctchile)));User ID=desarrollo;Password=Acc3s0*1" />
    <add name="CTConnKey_EC" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.65)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ctecuad)));User ID=desarrollo;Password=Acc3s0*1" />
    <add name="CTConnKey_BR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.20)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ctbrasil)));User ID=desarrollo;Password=Acc3s0*1" />
    <add name="NMConnKey" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.75.131.11)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=usr_webs;Password=s3rv3r" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="View/Index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- New addition -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <!-- End of new addition -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <applicationSettings>
    <Expertia.Estructura.Properties.Settings>
      <setting name="Expertia_Estructura_ws_compra_ws_compra" serializeAs="String">
        <value>http://ti-qa-webservices.webfarefinder.com/gnm/ws_compra.asmx</value>
      </setting>
    </Expertia.Estructura.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
